@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Comfortaa:wght@300;400;500;600;700&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Alfa Slab One', cursive;
    font-family: 'Comfortaa', cursive;
    background: hsl(217, 54%, 11%);
    Font-size: 18px;
    color: #fff;
}

main {
    background-color: hsl(216, 50%, 16%);
    border-radius: 10px;
    margin: 50px auto;

    max-width: 300px;
    min-width: 300px;

    padding: 19px;
    
}

.altura-imagen {
    width: 300px;
    border-radius: 5px;
}

main h1 {
    font-size: 0.9em;
    margin-top: 15px;
    margin-bottom: 15px;
}

main p {
    padding-bottom: 15px;
    font-size: 0.8em;
}

.float {
    border: 1px solid red;
    float: right;
}